body {
    background-color: #fff;
}

#titulo {
    font-family:Arial,Arial;
    font-weight: bold;
    text-align: center;
 }

#nomes {
    font-family: 'Times New Roman';
    font-size: medium 12pt;
    text-align: center;
    font-weight: bold;
}

#dados {
    font-family: 'Times New Roman';
    font-size: 12pt;
    text-align: center;
}

#email {
    font-family: 'Times New Roman';
    font-size: medium medium medium 10pt;
    text-align: center;
}

.abstract{
    font-family: 'Times New Roman';
    font-size: 12pt;
    text-align: justify;
    font-style: italic;
}

.subtitulo
{
    font-family: 'Times New Roman';
    font-size: medium;
    text-align: left;
    font-weight: bold;
}

.texto
{
    font-family: Arial;
    font-size: 14pt;
    text-align: justify;
    color: #000;
    margin-left: 20%;
    margin-right: 20%;
    font-weight: normal;
}

.img
{
    object-position: center;
    max-height: 367px;
    max-width: 653px;
    min-height: 180px;
    min-width: 264px;
    margin-left: 20%;
    margin-right: 20%;
 }

 div.figura
{
  display:table;
  width: 25%;
  margin: 0.5em;
  margin-left: 20%;
  margin-right: 20%;
  padding: 0.5em;
  position:absolute;
  object-position:center;
}

div.figura p
{
  text-align: center;
  font-weight: bold;
  font-size: medium;
  text-indent: 0;
  position:absolute;
  object-position: center;
  font-family: Helvetica;
}

.tabelas {
    background-color: #fff;
    border: 1px solid black;
    border-collapse: collapse;
}

.tabelas caption {
    font-size: 10pt;
    font-family: Helvetica;
}

pre{
    background: #e6e9ec;
    color: rgba(0,0,0,.85);
    display: block;
    font-size: 14pt;
    font-family: monospace;
    white-space: pre;
    overflow-x: auto;
    text-align: justify;
}
