html{
    padding:0;
	margin:0;
}

body{
    padding:0;
    margin:0;
}

.container{
    width:960px;
	display:block;
	margin:0 auto;
}

/* id chamado logo */
#logo{
   color: yellow;
   display:block;
   float:left;
   background-color:red;
   font-family:Tempus Sans ITC;
}

#logo a {
   color: yellow;
   text-decoration:none;
}

.span2 a {
  color:red;
  font-family:Ubuntu,'Ubuntu Mono';
}

.container header{
     display:block;
	 float:left;
	 width:100%;
}

.container header ul{
    display:block;
	float:left;
	margin: 32px 0 0 20px;
}

.container header ul li {
      display: block;
	  float: left;
	  margin-right: 20px;
}

.container header ul li a{
        color:blue;
	text-decoration: none;
}


.menuTexto{
   margin-top: 400px;
   margin-right: 50px;
   text-align: center;
   background-color: #ffffff;
   border: solid black 1px;
   position:static;
}

.menuTexto h4{
  text-decoration: none;
}

.menuTexto a {
   color:black;
}

iframe{
   margin-top: 250px;
   margin-right: 150px;
   text-align: center;
}

